/*html {*/
/*    height: 100%;*/
/*}*/
/*body {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    min-height: 100%;*/
/*}*/

#root {
    height: inherit;
}

.btn-lg {
    background-color: #ff8e01;
    color: #fffffa;
}

.btn-lg:focus {
    outline: none;
    box-shadow: none;
}

.navBar {
    background-color: #ff8e01;
    box-shadow: var(--devsite-header-lower-box-shadow, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15));
}

.navBrand a {
    color: #343b43 !important;
    text-decoration: unset;

}

.navElement a {
    color: #fffffa !important;
    text-decoration: unset;
    cursor: pointer;
}

.basicCard {
    padding: 2%;
    border-radius: 15px;
    box-shadow: var(--devsite-header-lower-box-shadow, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15));
}

.utPosCenter {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-primary, .btn-primary:hover,
.btn-primary:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #ff8e01;
    border-color: #ff8e01;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

.bg {
    /* The image used */
    background-image: url("./assets/myFitPage.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.utBg1 {
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control:focus {
    border-color: #0a0606;
    box-shadow: none;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff8e01;
    border-color: #ff8e01;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
     color: #fff;
     background-color: #ff8e01;
     border-color: #ff8e01;
     box-shadow: none;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
